@import "tailwindcss";

@font-face {
  font-family: 'ClashOfClans';
  src: url('/fonts/ClashofClans_Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ClashOfClans';
  src: url('/fonts/ClashofClans_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body, html, #root {
  font-family: 'ClashOfClans', cursive !important;
}
